<p id="notice"><%= notice %></p>

<p>
  <strong>Simulation:</strong>
  <%= @mature_investment.simulation %>
</p>

<%= link_to 'Edit', edit_mature_investment_path(@mature_investment) %> |
<%= link_to 'Back', mature_investments_path %>
